@{
    ViewData["Title"] = "About";
}
<h1 style="margin-top:10%">Welcome to MoodTube!</h1>
<p>MoodTube allows you to play Youtube playlists according to your mood!</p>
<p>With MoodTube you can:</p>
<ul>
    <li>Enjoy music</li>
    <li>Enjoy music videos</li>
</ul>
<p>And have it all according to your mood!</p>