@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<div id="map" style="height:40em"></div>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 32.073070, lng: 34.842420 },
            zoom: 8
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqDOb10yzJ_kUab_K6h7EJ40KQq20BwGM&callback=initMap" async defer></script>