@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div id="scroll">
        <nav>
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a id="moodTubeNav" onclick="document.getElementById('one').scrollIntoView({behavior: 'smooth'})">MoodTube</a>
                    <a onclick="document.getElementById('two').scrollIntoView({behavior: 'smooth'})">Party</a>
                    <a onclick="document.getElementById('three').scrollIntoView({behavior: 'smooth'})">Chill</a>
                    <a onclick="document.getElementById('four').scrollIntoView({behavior: 'smooth'})">Rage</a>
                    <div id="usersInterface">
                        <a id="loginbtn" href="/Account/Login">Login</a>
                        <a id="registerbtn" href="/Account/Register">Register</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    
    <div class="page" id="one">
        <div id="moodTubeTitle">
            <img src='~/images/mood-logo.png' style="display: inline-block; max-width: 10vw; max-height: 5vh;border-radius: 30%;" />
            <a href="/Home/About">MoodTube</a>
            <a id="learnAbout" href="/Home/About">Learn about MoodTube&copy</a>
        </div>
        <div>
            <a id="mainToParty" onclick="document.getElementById('two').scrollIntoView({behavior: 'smooth'})">
                Party
            </a>
        </div>
        <div>
            <a id="mainToChill" onclick="document.getElementById('three').scrollIntoView({behavior: 'smooth'})">
                Chill
            </a>
        </div>
        <div>
            <a id="mainToRage" onclick="document.getElementById('four').scrollIntoView({behavior: 'smooth'})">
                Rage
            </a>
        </div>
    </div>
    <div class="page" id="two">
        <div class="linkTitle">
            <h3>Party</h3>
        </div>
        <div class="row">
            <div class="col-sm-2">
           
            </div>
            <div class="col-sm-8">
                <center>
                    <button id="dislikeParty" class="btn-feedback btn btn-danger btn-dislike">
                        dislike
                    </button>
                    <span id="partyvid"></span>
                    <button id="likeParty" class="btn-feedback btn btn-success btn-like">
                        like
                    </button>
                </center>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="page" id="three">
        <div class="linkTitle">
            <a href="/chill">Chill</a>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <center>
                    <button id="dislikeChill" class="btn-feedback btn btn-danger btn-dislike">
                        dislike
                    </button>
                    <span id="chillvid"></span>
                    <button id="likeChill" class="btn-feedback btn btn-success btn-like">
                        like
                    </button>
                </center>     
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="page" id="four">
        <div class="linkTitle">
            <a href="/Rage">Rage</a>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <center>
                    <button id="dislikeRage" class="btn-feedback btn btn-danger btn-dislike">
                        dislike
                    </button>
                    <span id="ragevid"></span>
                    <button id="likeRage" class="btn-feedback btn btn-success btn-like">
                        like
                    </button>
                </center>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</body>
</html>