@model MoodTubeOriginal.Models.Singer

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>By deleting this Singer you will automatically </h3>
<h3>change his songs(SingerID & Singer to NULL )</h3>
<br>
<h3>Are you sure you want to delete this Singer?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SingerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SingerName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="SingerID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
